<p-toast></p-toast>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="form p-fluid">
            <h3>Change Password</h3>
            <div class="field">
                <label class="font-semibold" >Current Password</label>
                <p-password [feedback]="false" formControlName="current_password"></p-password>
            </div>
            <div class="field">
                <label class="font-semibold" >New Password</label>
                <p-password [(ngModel)]="value" formControlName="new_password"></p-password>
            </div>
            <div class="field">
                <label class="font-semibold" >Confirm New Password</label>
                <p-password [feedback]="false" formControlName="confirm_password"></p-password>
            </div> 
            <p-button label="Submit" type="submit"  class="w-full" [disabled]="!passwordForm.valid"></p-button>
        </div>
    </div>
</form>